body,html {
    margin: 0;
    background-color: rgb(85,106,91);
    scroll-behavior: smooth;
}

.container {
    margin: 50px;
}

.align-left {
    display:flex;
    flex-direction: column;
    text-align: left;
}

.align-right {
    display:flex;
    flex-direction: column;
    text-align: right;
}

.light-color {
    color: rgb(245, 241, 230);
}

.dark-color {
    color:rgb(0,38,39);
}

.header-footer {
    background-color: rgb(85,106,91);
}

.formatting {
    margin: 50px;
    font-family: 'Bebas Neue', cursive;
}

.large-font {
    font-size: 100px;
    letter-spacing: 15px;
    margin: 0;
}

.medium-font {
    font-size: 20pt;
}

.circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    
    
}

.float-right {
    
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    margin: 0;
    list-style: none;
    padding: 20px;
    position: fixed;
    right: 10px;
    top: 0px;
    width: 100vw;
    background-color: rgb(85,106,91);
}

#nav li a {
    text-decoration: none;
    color: rgba(220,228,207);
}

#intro {
    background-color: rgb(222,172,171);
    margin: 0;
}

#howl {
    background-color: rgb(0,38,39);  
}

#spirited {
    background-color: rgb(5,152,206);
}

#whisper {
    background-color: rgb(110,96,70);
}


.footer-format-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    --fa-animation-duration: 2s; 
    --fa-fade-opacity: 0.6;
}

.gap {
    width: 70px;
    height: auto;
}
.bottom-footer {
    background-color: rgb(0,38,39);
    width: 100vw;
    height: 5vh;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(245, 241, 230);
}