body,html {
    margin: 0;
    /* background-color: rgb(0,38,39); */
    /* background-color: #9bbdb9; */
    /* scroll-behavior: smooth; */
}

h1, h2, h3, h4, p {
    margin: 0;
}

h2, h3, h4 {
    letter-spacing: 0.5em;
}

h4 {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: larger;
}

p {
    line-height: 2em;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    height: 1px;
}

figcaption a {
    color: #0f3235;
}

figcaption a:hover {
    color: #a4623e;
    transition: all 0.3s ease-out;
}

figcaption a:focus {
    color: #367e9e;
    transition: all 0.3s ease-out;
}

.green-background {
    background-color: rgb(85,106,91);
}

.cool-font {
    font-family: 'Bebas Neue', cursive;
}

.large-font {
    font-size: 100px;
    letter-spacing: 15px;
    margin: 0;
}

.medium-font {
    font-size: 20pt;
}

.light-color {
    color: rgb(245, 241, 230);
}

.light-line {
    background-color: rgb(245, 241, 230);
}

.dark-color {
    color: rgb(0,38,39);
}

.dark-line {
    background-color: rgb(0,38,39);
}

.quotes {
    width: 100vw;
    height: 10vh;
    border: none;
    border-radius: unset;
}

.quotes p {
    font-size: 15px;
    font-family: normal;
}

.quotes:hover {
    background-color: #9bbdb9;
}

.quotes:active{
    background-color: rgb(0,38,39);
    color: rgb(245, 241, 230);
}

.quote-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 0, 39);
}

.quote-content hr {
    width: 40vw;
}

.quote-content blockquote {
    margin-bottom: 0;
}

.quote-content p {
    margin-bottom: 0;
    letter-spacing: 0.5em;
    text-shadow: 0px 0px 8px white;
}

.quote-content span {
    letter-spacing: 0.5em;
    margin-bottom: 20px;
    font-style: italic;
}

.show-quote {
    display: flex;
}

/* NAVIGATION */ /* NAVIGATION */ /* NAVIGATION */

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    margin: 0px;
    list-style: none;
    padding: 20px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100vw;
    z-index: 1;
}

nav li a {
    text-decoration: none;
    color: rgba(220,228,207);
}

nav li a:hover {
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(0,38,39);
    transition: all 0.3s ease-out;
}

.nav-links:hover {
    background-color: #9bbdb9;
}

#lastATag:hover {
    background-color: rgb(0,38,39);
}

.active {
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(0,38,39);
    background-color: #9bbdb9;
    transition: all 0.3s ease-out;
}

.connect-active {
    background-color: rgb(0,38,39);
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease-out;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

/* TITLE ANIMATION */

.title-animation {
    animation: color-animation 4s linear infinite;
}

.studio {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #e4dea8;
}

.ghibli {
    --color-1: #ACCFCB;
    --color-2: #DBAD4A;
    --color-3: #0f3235;
}

.studio-ghibli-fan {
    --color-1: #f0ddd3;
    --color-2: #9bbdb9;
    --color-3: #d19796;
}

.connect {
    --color-1: #f0ddd3;
    --color-2: #9bbdb9;
    --color-3: #d19796;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

/* END TITLE ANIMATION */
/* HEADER CONT'D */

.header-format {
    border-bottom: 1px solid rgb(245, 241, 230);
    margin-top: 21px;
    padding: 40px;
}

/* MAIN CONTENT */ /* MAIN CONTENT */ /* MAIN CONTENT */

.video-div {
    display: flex;
    justify-content: center;
    background-color: black;
}

.section-format {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(245, 241, 230);
    padding: 40px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

.content-align-right {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.circle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 50px;
}

.circle iframe{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 20px solid black;
}

img {
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(255,234,129);
}

.intro {
    background-color: rgb(222,172,171);
}

.intro p a {
    color: #0f3235;
}

.intro p a:hover {
    color: #a4623e;
    transition: all 0.3s ease-out;
}

.intro p a:focus {
    color: #367e9e;
    transition: all 0.3s ease-out;
}

.howl {
    background-color: rgb(0,38,39);  
}

.spirited {
    background-color: rgb(5,152,206);
}

.whisper {
    background-color: rgb(110,96,70);
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

.footer-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(245, 241, 230);
}

.form-format{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer form {
    margin-top: 20px;
}

footer form h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    letter-spacing: 1.5em;
}

footer form hr {
    border: 0;
    clear: both;
    display: block;
    width: 50vw;               
    height: 2px;
    background-color: black;
}

footer form label {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5em;
    line-height: 2em;
    padding: 10px;
}

footer form select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(207, 228, 220);
    padding-right: 20px;
    padding-left: 20px;
}

footer form select:hover {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #9bbdb9;
    color: #0f3235;
    transition: all 0.3s ease-out;
}

footer form select:focus {
    outline: none;
    background-color: #0f3235;
    transition: all 0.3s ease-out;
    color: rgba(220,228,207);
}

footer form input,textarea,button {
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(207, 228, 220);
    padding-right: 5px;
    padding-left: 5px;
}

footer form label input:hover,textarea:hover {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #9bbdb9;
    transition: all 0.3s ease-out;
}

footer form label input:focus,textarea:focus {
    background-color: #0f3235;
    outline: none;
    color: rgba(220,228,207);
    transition: all 0.3s ease-out;
}

footer form button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(207, 228, 220);
}

footer form button:hover {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #9bbdb9;
    transition: all 0.3s ease-out;
}

footer form button:focus {
    background-color: #0f3235;
    transition: all 0.3s ease-out;
    color: rgba(220,228,207)
}

.icons {
    display: inline-flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    --fa-animation-duration: 2s; 
    --fa-fade-opacity: 0.6;
}

.icons a {
    text-decoration: none;
    color: rgba(220,228,207);
}

.icons a:hover {
    color: #9bbdb9;
    transition: all 0.3s ease-out;
}

.icons a:focus {
    color: #0f3235;
    transition: all 0.3s ease-out;
}

.gap {
    width: 70px;
    height: auto;
}

.bottom-footer {
    position: sticky;
    z-index: -1;
    background-color: rgb(0,38,39);
    height: 5vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(245, 241, 230);
}


